:root {
  --text-color: rgb(82, 6, 56);
}
.footerDiv {
  display:flex;
  background: linen;
  width:100%;
}
.footerStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
  height: 5rem;
  background: linen;
  list-style: none;
  padding-top: 1.5rem;
  padding-right:4.5rem;
  border-radius: 5px;
}
a {
  padding-left: 4rem;
}
.copyWrite{
    padding-left:25rem;
}