.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: linen;
  /* margin-right: 3rem;
  margin-left: 3rem; */
  border-radius:5px;
  
}
.nav_links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  
}
.nav_title{
  font-family: "Courgette", cursive;
  color: maroon;
}
.nav2_link{
  color:blue;
  text-decoration: none;
  transition:color 1.0s, font-size 1.0s;
}
.nav2_link:hover{
  font-size:1.25rem;
  color:maroon;
}